.event {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    border-top: 4px solid #74d1e0;
    border-bottom: 4px solid #74d1e0;
    background-color: rgba(255,255,255,0.8);
    padding: 0 200px;
    overflow-y: auto;
}

.event p {
    text-align: justify;
    font-size: 18px;
}

.event::-webkit-scrollbar {
    width: 5px;
}
 
.event::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}
 
.event::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.map {
    width: 100%;
}
@media screen and (max-width:768px) {
    .event {
        padding: 0 10px;
    }
}